<div class="main-content">
    <div class="section-content section-content-p30">
        <h4>{{ currentCategoryName }}</h4>
        <hr>
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products -->
                <div *ngFor="let tempProduct of products" class="col-md-3">

                    <div class="product-box">

                        <a routerLink="/products/{{ tempProduct.id }}">
                          <img src="{{ tempProduct.imageURL }}" class="img-responsive">
                        </a>
                        
                        <a routerLink="/products/{{ tempProduct.id }}">
                          <h1>{{ tempProduct.name }}</h1>
                        </a>
                        
                        <div class="price"> {{ tempProduct.unitPrice | currency:'EUR'}} </div>

                        <div class="number"> Disponibili: {{ tempProduct.unitsInStock }} </div>
                        <div *ngIf="tempProduct.unitsInStock != 0">
                            <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">Aggiungi al carrello</button>
                        </div>
                    </div>
                </div>

            </div>
            <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                Nessun prodotto trovato.
            </div>

            <!--Begin footer-->
            
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9">
                              <ngb-pagination [(page)]="thePageNumber"
                                              [pageSize]="thePageSize"
                                              [collectionSize]="theTotalElements"
                                              [maxSize]="5"
                                              [boundaryLinks]="true"
                                              (pageChange)="listProducts()">

                              </ngb-pagination>
                            </div>

                                <div class="col-md-3 mt-2" style="text-align: right;">
                                  <span class="mr-2">Pagine </span>

                                  <select #mySelect (change)="updatePageSize(+mySelect.value)">
                                      <option selected="true">5</option>
                                      <option>10</option>
                                      <option>20</option>
                                      <option>50</option>
                                  </select>
                                </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--End footer-->

        </div>
    </div>
</div>