<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3>Storico ordini</h3>

            <div *ngIf="orderHistoryList.length > 0">
                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Tracking dell'ordine</th>
                        <th width="10%">Prezzo Totale</th>
                        <th width="10%">Quantità Totale</th>
                        <th width="10%">Data</th>
                    </tr>

                    <tr *ngFor="let tempOrderHistory of orderHistoryList">
                        <td>
                            {{ tempOrderHistory.orderTrackingNumber }}
                        </td>
                        <td>
                            {{ tempOrderHistory.totalPrice | currency: 'EUR' }}
                        </td>
                        <td>
                            {{ tempOrderHistory.totalQuantity }}
                        </td>
                        <td>
                            {{ tempOrderHistory.dateCreated | date: 'medium' }}
                        </td>
                    </tr>
                </table>
            </div>

            <!-- if order history is empty then display a message -->
            <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">
                Nessun ordine trovato.
            </div>

        </div>
    </div>
</div>