<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Cliente</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Nome</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">

                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                    class="alert alert-danger mt-1">

                                    <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhitespace">
                                        Il nome è richiesto
                                    </div>

                                    <div *ngIf="firstName.errors.minlength">
                                        Il nome deve avere almeno due caratteri
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Cognome</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">

                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                    class="alert alert-danger mt-1">

                                    <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhitespace">
                                        Il cognome è richiesto
                                    </div>

                                    <div *ngIf="lastName.errors.minlength">
                                        Il nome deve avere almeno due caratteri
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">

                                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                    class="alert alert-danger mt-1">

                                    <div *ngIf="email.errors.required">
                                        L'indirizzo email è richiesto
                                    </div>

                                    <div *ngIf="email.errors.pattern">
                                        L'indirizzo email non è valido
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- shipping Address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Indirizzo di Spedizione</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Stato</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>

                                <div *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressCountry.errors.required">
                                        Lo Stato è richiesto
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Via</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                <div *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressStreet.errors.required || shippingAddressStreet.errors.notOnlyWhitespace">
                                        La via è richiesta
                                    </div>
                                    <div *ngIf="shippingAddressStreet.errors.minlength">
                                        La via deve avere almeno due caratteri
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Città</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressCity.errors.required || shippingAddressCity.errors.notOnlyWhitespace">
                                        La città è richiesta
                                    </div>
                                    <div *ngIf="shippingAddressCity.errors.minlength">
                                        La città deve avere almeno due caratteri
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Regione</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>

                                <div *ngIf="shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressState.errors.required">
                                        La regione è richiesta
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>CAP/ZIP</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                <div *ngIf="shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressZipCode.errors.required || shippingAddressZipCode.errors.notOnlyWhitespace">
                                        Il CAP/ZIP è richiesto
                                    </div>
                                    <div *ngIf="shippingAddressZipCode.errors.minlength">
                                        Il CAP/ZIP deve avere almeno due caratteri
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- Add check box to copy shipping to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Indirizzo di fatturazione uguale all'indirizzo di spedizione
                    </label>
                </div>


                <!-- Billing Address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Indirizzo di Fatturazione</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Stato</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>

                                <div *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressCountry.errors.required">
                                        Lo Stato è richiesto
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Via</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                <div *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressStreet.errors.required || billingAddressStreet.errors.notOnlyWhitespace">
                                        La via è richiesta
                                    </div>
                                    <div *ngIf="billingAddressStreet.errors.minlength">
                                        La via deve avere almeno due caratteri
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Città</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressCity.errors.required || billingAddressCity.errors.notOnlyWhitespace">
                                        La città è richiesta
                                    </div>
                                    <div *ngIf="billingAddressCity.errors.minlength">
                                        La città deve avere almeno due caratteri
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Regione</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>

                                <div *ngIf="billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressState.errors.required">
                                        La regione è richiesta
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>CAP/ZIP</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                <div *ngIf="billingAddressZipCode.invalid && (billingAddressZipCode.dirty || billingAddressZipCode.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressZipCode.errors.required || billingAddressZipCode.errors.notOnlyWhitespace">
                                        Il CAP/ZIP è richiesto
                                    </div>

                                    <div *ngIf="billingAddressZipCode.errors.minlength">
                                        Il CAP/ZIP deve avere almeno due caratteri
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- Credit Card -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Carta di credito</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Circuito di pagamento</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>

                                <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardType.errors.required">
                                        Il circuito di pagamento è richiesto
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Nome Titolare</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">

                                <div *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="creditCardNameOnCard.errors.required || creditCardNameOnCard.errors.notOnlyWhitespace">
                                        Il nome è richiesto
                                    </div>

                                    <div *ngIf="creditCardNameOnCard.errors.minlength">
                                        Il nome deve avere almeno due caratteri
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Numero Carta</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">

                                <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardNumber.errors.required">
                                        Il numero di carta è richiesto
                                    </div>
                                    <div *ngIf="creditCardNumber.errors.pattern">
                                        Il numero di carta deve avere sedici cifre
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>CVV</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">

                                <div *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardSecurityCode.errors.required">
                                        Il CVV è richiesto
                                    </div>
                                    <div *ngIf="creditCardSecurityCode.errors.pattern">
                                        Il CVV deve avere tre cifre
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Mese di scadenza</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{ month }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Anno di scadenza</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{ year }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Order details -->
                <div class="form-area">
                    <h3>Riepilogo ordine</h3>

                    <p>Quantità Totale: {{ totalQuantity }}</p>
                    <p>COSTI DI SPEDIZIONE: GRATIS</p>
                    <p>Prezzo Totale: {{ totalPrice | currency: 'EUR' }}</p>
                </div>

                <!-- submit button-->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Acquista</button>
                </div>

            </form>

        </div>
    </div>
</div>